.input-append, #image, .loading {
    display:block;
}

#image {
    margin: 10px;
}

.alert {
    margin-top:10px;
}

.loading {
    position:relative;
    top:4px;
    background:url(//raw.github.com/coderaiser/cloudcmd/dev/img/spinner.gif);
}

.icon {
    display:inline-block;
    width:16px;
    height:16px;
    margin-left:0.5%;
    font-family: 'Octicons Regular';
    font-size:16px;
}

.hidden {
    display:none;
}

.content {
    margin:20px;
}

.smallFont {
    font-size: 12px;
}

.position-center {
    margin-left: 25%;
    margin-right: 25%;
}
